/* ============================= *
 * アニメーション
 * ============================= */
.fade.in {
    animation: fadeInOut 5s ease 0s 1 normal;
    -webkit-animation: fadeInOut 5s ease 0s 1 normal;
}
@keyframes fadeInOut {
    0% {opacity: 0}
    35% {opacity: 1}
    100% {opacity: 0}
}
@-webkit-keyframes fadeInOut {
    0% {opacity: 0}
    35% {opacity: 1}
    100% {opacity: 0}
}
.table-responsive {
    -webkit-overflow-scrolling: touch;
}
