/* ============================= *
 * フォント
 * ============================= */
body {
    font-family: 
        Verdana, Chicago, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* ============================= *
 * レイアウト
 * ============================= */
.footer {
    margin-top: 20px;
}
.table-responsive {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* ============================= *
 * デザイン
 * ============================= */
.title {
    border-bottom: 1px dotted #bdc3c7;
}
.footer {
    background-color: #34495e;
    color: #ffffff;
}
/*.btn {
    box-shadow:  1px  0px  0px rgba(225, 225, 225, 0.3) inset,
                -1px  0px  0px rgba(225, 225, 225, 0.3) inset,
                 0px  1px  1px rgba(0, 0, 0, 0.1) inset,
                 0px -1px  1px rgba(0, 0, 0, 0.3) inset,
                 0px  1px  1px #666;
}*/
/* ============================= *
 * アイコン付ボタン
 * ============================= */
.i-button{
    font-family: FontAwesome, Verdana, Chicago, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
