/* ============================= *
 * リストをリンク化
 * ============================= */
table tr.list-link {
    cursor: pointer;
}
table tr.list-link:hover {
    color: #0000dd;
    background: #ffffcc;
}

/* ============================= *
 * デザイン
 * ============================= */
.title {
    border-bottom: 1px dotted #bdc3c7;
}
.footer {
    background-color: #34495e;
    color: #ffffff;
}
.navbar {
    border-radius: initial;
}
.pagination li > a,
.pagination li > span {
    border: initial;
}
/* ============================= *
 * レイアウト
 * ============================= */
.navbar-collapse.collapse {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav > li > a {
    padding: 20px 21px;
}
