/* 
 * リストをリンク化
 */
table tr.list-link {
    cursor: pointer;
}

table tr.list-link:hover {
    color: #0000dd;
    background: #ffffcc;
}

/* 
 * ページネーションの設定
 */
.pagination {
    margin: auto;
}

.pagination ul {
    float: left;
}

/* 
 * FLAT-UIのカスタマイズ
 */
.title {
    border-bottom: 1px dotted #bdc3c7;
}

.footer {
    background-color: #34495e;
    color: #ffffff;
    border-radius: 6px;
}
